<div class="col-md-10 banner-right">
    <div class="about">
        <div class="help-info">
          <h3>ABOUT</h3>
        </div>
        <div class="about-grids">
          <div class="col-md-5 about-grid-left">
            <img class="img-responsive" src="images/pic2.jpg" alt=""/>
          </div>
          <div class="col-md-7 about-grid">
            <h3>NEQUE PORRO QUISQUAM EST, QUI </h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit 
            voluptatem accusantium doloremque laudantium, totam rem aperiam, 
            eaque ipsa quae ab illo <span>inventore veritatis et numquam eius modi 
            tempora incidunt ut labore et dolore magnam aliquam </span>quaerat voluptatem. 
            Ut enim ad minima veniam, quis nostrum exercitation inventore veritatis et numquam eius modi 
            tempora incidunt ut labore et dolore magnam </p>
            <p>numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
            Ut enim ad minima veniam, quis nostrum exercitation modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
            Ut enim ad minima veniam, quis nostrum exercitation</p>
          </div>
          <div class="clearfix"></div>
        </div>
    </div>
    <div class="about-bottom-level">
      <div class="help-info">
          <h3>OUR ADVANTAGES</h3>
      </div>
      <div class="about-bott-grids">
        <div class="col-md-4 about-bt-grid">
          <p>1</p>
          <h3>NUMQUAM EIUS MODI TEMPORA </h3>
          <h4>Magnam aliquam quaerat voluptatem Ut enim ad minima veniam, quis nostrum exercitation inventore veritatis et numquam eius modi 
              tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </h4>
        </div>
        <div class="col-md-4 about-bt-grid">
          <p class="two">2</p>
          <h3 class="two">NUMQUAM EIUS MODI TEMPORA</h3>
          <h4>Magnam aliquam quaerat voluptatem Ut enim ad minima veniam, quis nostrum exercitation inventore veritatis et numquam eius modi 
              tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </h4>
        </div>
        <div class="col-md-4 about-bt-grid">
          <p>3</p>
          <h3>NUMQUAM EIUS MODI TEMPORA</h3>
          <h4>Magnam aliquam quaerat voluptatem Ut enim ad minima veniam, quis nostrum exercitation inventore veritatis et numquam eius modi 
              tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. </h4>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="about-bottom-last">
      <div class="help-info">
        <h3>CLIENTS SAY</h3>
      </div>
      <div class="client-say-grids">
        <div class="col-md-3 client-say-grid">
          <h3>At vero eos et accusamus 
          et iusto odio dignissimos ducimus 
          qui blanditiis praesentium voluptatum 
          deleniti atque corrupti quos dolores 
          et quas molestias excepturi sint </h3>
          <p>PATRICK, CLIENT</p>
        </div>
        <div class="col-md-3 client-say-grid">
          <h3>At vero eos et accusamus 
          et iusto odio dignissimos ducimus 
          qui blanditiis praesentium voluptatum 
          deleniti atque corrupti quos dolores 
          et quas molestias excepturi sint </h3>
          <p>THOMPSON, CLIENT</p>
        </div>
        <div class="col-md-3 client-say-grid">
          <h3>At vero eos et accusamus 
          et iusto odio dignissimos ducimus 
          qui blanditiis praesentium voluptatum 
          deleniti atque corrupti quos dolores 
          et quas molestias excepturi sint </h3>
          <p>JOHN DOE, CLIENT</p>
        </div>
        <div class="col-md-3 client-say-grid">
          <h3>At vero eos et accusamus 
          et iusto odio dignissimos ducimus 
          qui blanditiis praesentium voluptatum 
          deleniti atque corrupti quos dolores 
          et quas molestias excepturi sint </h3>
          <p>ANDER SON, CLIENT</p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="footer">
      <p>Copyright &copy; 2015 Promenade. Design by <a href="http://w3layouts.com/"> W3layouts</a></p>
    </div>
  </div>